* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/***banner***/
.banner {
  margin: 30px 0;
}

.left-bannercnt {
  width: 40%;
}

.right-bannerImg {
  width: 50%;
  height: 450px;
}

.right-bannerImg img {
  width: 100%;
  height: 100%;
}

.left-bannercnt p {
  font-size: 25px;
  margin: 50px 0 30px;
  color: #58baa3;
  line-height: 37px;
  font-weight: 500;
}

.left-bannercnt h4 {
  font-weight: 700;
  margin-bottom: 30px;
  color: #f04d37;
  font-size: 42px;
}

.left-bannercnt a {
  background: #58b9a2;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  box-shadow: 3px 2px 8px 4px rgb(173 183 233 / 42%);
  font-size: 17px;
  font-weight: 600;
  -webkit-border-radius: 100px;
  margin-top: 25px;
  display: inline-block;
}

.banner-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.left-bannercnt a:hover {
  background-color: #225c8e;
  text-decoration: none;
  border: 1px solid #225c8e;
  color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

/****patient_speak****/
.sec_top h6 {
  color: #9a9a9a;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 18px;
}

.patient_speaks {
  padding: 50px 0;
}

.sec_top h5 {
  font-family: Times New Roman, serif;
  font-size: 30px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 700;
  color: #224855;
  text-align: center;
  margin-bottom: 30px;
}

.patient_slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  padding: 0 7%;
  display: flex;
  align-items: center;
}

.patient_slide .content {
  width: 50%;
  margin-left: auto;
  text-align: center;
}

.patient_slide .content h5 {
  font-size: 25px;
  margin: 25px 5px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 8px 27px;
  display: inline-block;
}

.patient_slide .box {
  color: #fff;
  margin-bottom: 40px;
  -webkit-border-radius: 10px;
  background-color: #ff4931;
  padding: 20px 15px;
}

.patient_slide .box h4 {
  font-weight: 600;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.patient_slide .box h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.patient_slide .box p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
}

.patient_slide button {
  background-color: #ff4931;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  padding: 9px 15px;
  border: solid 4px #4d4d4d;
  font-weight: 600;
}

.video_icon {
  position: relative;
  width: 50%;
}

.video_icon a {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 1px #fff;
  border-radius: 100px;
  display: block;
}

.video_icon a:after {
  position: absolute;
  content: "";
  top: 20%;
  left: 30%;
  border-top: solid 20px transparent;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  border-bottom: solid 30px #fff;
  -webkit-transform: translate(35%, 10%) rotate(90deg);
}

.patient_speaks .swiper-horizontal>.swiper-pagination-bullets,
.patient_speaks .swiper-pagination-bullets.swiper-pagination-horizontal,
.patient_speaks .swiper-pagination-custom,
.patient_speaks .swiper-pagination-fraction {
  bottom: 18% !important;
  left: 21% !important;
}

.patient_speaks .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  border: 2px solid #fff;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

/****service****/
.service {

  padding: 30px 0;


}

.service .wrapper:after {
  background-color: #58b9a2b3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.service .wrapper {
  background-image: url(../assets/images/cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 30px 0;
  position: relative;
}

.service .image {
  width: 127px;
  height: auto;
  margin: 0 auto;
}

.service .image img {
  width: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1
}

.service .wrapper h5 {
  text-align: center;
  font-size: 19px;
  margin-top: 16px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-family: Open Sans;
  position: relative;
  z-index: 1;
}

/* responsive */

@media (max-width: 767px) {
  /* banner start */

  .banner-slide {
    flex-direction: column;
  }

  .left-bannercnt {
    width: 100%;
  }

  .right-bannerImg {
    width: 100%;
    height: auto;
  }

  .left-bannercnt h4 {
    font-size: 35px;
  }

  .left-bannercnt p {
    font-size: 20px;
    margin: 20px 0px;
    line-height: 32px;
    font-weight: 500;
  }

  .left-bannercnt a{
    margin-top: 0px;
    font-size: 14px;
  }

  /* banner end */
}