* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
}

html.body {
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

/***header***/
.marqHead {
    background-color: #ff4931;
    padding: 7px 0;
}

.marqHdPara {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin: 0;
}